<div style="border-top: 1px solid #808080;">
    <div class="_social-icons">
            <a class="_social-icon" href="https://www.upwork.com/o/profiles/users/~01154f3437eec3dcf6/" target="_blank">
                <img class = "img-fluid" src="/assets/Images/SocialIcons/UpworkIcon.png" alt="UpworkIcon">
            </a>
            
            <a class="_social-icon" href="https://github.com/VisFunJoy" target="_blank">
                <img class = "img-fluid" src="/assets/Images/SocialIcons/GithubIcon.png" alt="GithubFooterIcon">
            </a>

            <a class="_social-icon" href="https://www.facebook.com/vishal.deep.35110418" target="_blank">
                <img class = "img-fluid" src="/assets/Images/SocialIcons/FacebookIcon.png" alt="FacebookFooterIcon">
            </a>
        
            <a class="_social-icon" href="https://www.instagram.com/vishaldeephere/" target="_blank">
                <img class = "img-fluid" src="/assets/Images/SocialIcons/InstagramIcon.png" alt="InstagramIcon">
            </a>
    </div>
    <div style="float:right; padding: 10px 40px;">
        <h6 style="margin-bottom: 0px;">Copyright 2021-2022.</h6>
    </div>
</div>
