<div class="row">
    <h2><b>About Me :</b></h2>
    <p class="introduction-content">I am a native of Chandigarh. I have been graduated from Thapar University,
         Patiala in B.tech(Computer Science).
         After that i have been developing websites in Angular(frontend) and Laravel(backend)
         and also hydrid mobile applications(android and iOS)
         in React native(frontend).
    </p>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <img src="../../assets/Images/MyImages/vishal2.jpg" alt="">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h4><b>My hobbies and activities include the following: </b> <br><br>
            <h3><u>Major: </u></h3>
            1. Football <br>
            2. Music (Listening and Singing) <br>
            3. Dance <br>
         
            <h3><u>Minor: </u></h3>
            1. Other Sports (Cricket, Jogging and Body building or gym) <br>
            2. Coding Apps and websites <br>
            3. Horse Riding <br>
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h4><b>My other interests include: </b> <br><br>
            1. Spirituality <br>
            2. Academics (Science, Competetive exams, General knowledge, Mathematics, Social Science, etc.) <br>
            3. Reading books <br>
            4. Exploring beautiful destinations
        </h4>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <img src="../../assets/Images/MyImages/vishal3.jpg" alt="">
    </div>
</div>