<div style="display: flex; justify-content: center; margin-bottom: 50px; " class="row">
    <h2><b>About Me :</b></h2>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img width="450" height="300" src="../../assets/Images/MyImages/vishal5.jpg" alt="">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h4> My major hobbies and activities include the following: <br><br>
            1. Dancing<br>
            2. Music<br>
            3. Football<br>
        </h4>
    </div>
</div>