<div style="display: flex; justify-content: center; margin-bottom: 50px; " class="row">
    <h2><b>About Me :</b></h2>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 rain-body">
        <i *ngFor="let item of rainArray" class="rain"></i>
        <img width="200" height="200" style="transform: rotate(7deg);" src="../../assets/Images/MyImages/vishal9.jpg" alt="">
        <img width="200" height="200" style="transform: rotate(-10deg);" src="../../assets/Images/MyImages/vishal10.jpg" alt="">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h4> I am a Thapar University graduate in first division. My work includes: <br><br>
            1. https://jaohar.com in codeigniter<br>
            2. http://sskaura.com in codeigniter<br>
            3. http://visfunjoy.com in Angular and some more....<br><br>
            Besides coding, my major activities include Dancing, football and Cooking for now.
        </h4>
    </div>
</div>
<div style="display: flex; justify-content: center; margin: 50px 0px; " class="row">
    <h2><b>Skills and Expertise:</b></h2>
</div>
<div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6">
       <h6>Core PHP (86%)</h6>
       <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 86%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
       </div>
       <h6>Codeigniter (80%)</h6>
       <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
       </div>
       <h6>HTML, CSS and Javascript (82%)</h6>
       <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 82%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
       </div>
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6">
       <h6>Angular (75%)</h6>
       <div class="progress">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
       </div>
       <h6>React Native (82%)</h6>
       <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 82%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
       </div>
    </div>
 </div>