<nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-custom">

  <a class="navbar-brand" style="display: inline-flex; justify-content: center; align-items: center;" routerLink="" routerLinkActive="active">
    <img class = "img-fluid" style="margin-right: 10px;" width="35" height="35" 
          src="../../assets/Images/Common/FunJoyLogoCircle.png" alt="logo image">  
    
    <h6 style="margin-bottom: 0px;">VisFunJoy</h6>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="nav-active-item">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="nav-active-item">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog" routerLinkActive="nav-active-item">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact-me" routerLinkActive="nav-active-item">Contact</a>
      </li>
    </ul>
  </div>
</nav>


