.navbar-custom {
    height: 60px;
}

.nav-item {
    margin: 0px 30px;
}

.nav-link {
    font-weight: 600;
    font-family: 'Comic Neue', cursive;
    color: #000000;
    text-decoration: none;
    padding: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.nav-item:hover {
    background-color: #000000;
    .nav-link {
        color: #ffffff !important;
    }
}

.nav-active-item {
   border: 1px solid #000000;
   border-radius: 5px;
}

nav {
    border-bottom: 1.5px solid #808080;
    z-index: 1000;
    background-color: #ffffff;
}

.navbar {
    padding: 0px 15px !important;
}