<div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 box-shadow">
        <h1 style="font-weight: 600;">I am a Full Stack Developer based in India.</h1>
        <h3 style="margin: 20px auto;">
            Hello, myself Vishal Deep, I am a Full stack developer residing in India. 
            My total experience is of around 5 years. <br><br> I work on the following technologies: <br><br>
            1. React Native
            <br>
            2. Angular
            <br>
            3. Laravel
        </h3>
        <div>
            <h3 style="display: inline-block; margin-right: 50px; border-bottom: 1px solid #000000;">
                <a routerLink="/contact-me">
                    <img width="50px" height="50px" src="/assets/Images/BlackAndWhite/ContactMe.png" alt="">
                    Contact-Me
                </a>                   
            </h3>
            <h3 style="display: inline-block;border-bottom: 1px solid #000000;">
                <a routerLink="/about">
                    <img width="50px" height="50px" src="/assets/Images/BlackAndWhite/MyWork.png" alt="">            
                    My-Work
                </a>
            </h3>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"  data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img width="300" height="300" src="/assets/Images/MyImages/vishal4.jpg" alt="">            
                </div>
                <!-- <div *ngFor="let item of [1,2,3,4,5,6,7]" class="carousel-item">
                    <img width="300" height="300" src="../../assets/Images/MyImages/vishal{{item}}.jpg" alt="">            
                </div> -->
            </div>
        </div>
    </div>
</div>