<div *ngIf="displayPost == 1" class="_single-blog">
    <img class="_cover-img" src="../../assets/Images/BlogImages/WhatIsLife.jpg" alt="">
    <div class="_blog-content">
        <h3>
            <b>
                What is Life and Spirituality?
            </b> 
        </h3>
        <h5>Views on life and spirituality by various masters:</h5><br>
        <h4>
            <b>
                1. Sadhguru Jaggi vasudev
            </b>
        </h4><br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img width="420" height="300" src="../../assets/Images/SingleBlogImages/SadhguruJaggi.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h5 style="line-height: 60px;">
                    Jaggi Vasudev is an Indian yogi and mystic who founded the Isha Foundation, 
                a non-profit organization which offers yoga programs around the world. A multi-faceted personality, 
                he is also an author, motivational speaker, and philanthropist along with being a spiritual master.
                </h5>
            </div>
        </div>
        <h4 style="margin-top: 50px;">
            <b>
                2. Buddha
            </b>
        </h4>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img width="420" height="300" src="../../assets/Images/SingleBlogImages/Buddha.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h5 style="line-height: 60px;">
                    Buddhism started with the Buddha. The word ‘Buddha’ is a title, which means ‘one who is awake’ — in the sense of 
                    having ‘woken up to reality’. The Buddha was born as Siddhartha Gautama in Nepal around 2,500 years ago. 
                    He did not claim to be a god or a prophet. 
                    He was a human being who became Enlightened, understanding life in the deepest way possible.
                </h5>
            </div>
        </div>
    </div>
</div>


<div *ngIf="displayPost == 2" class="_single-blog">
    <img class="_cover-img" src="../../assets/Images/BlogImages/soccer.jpg" alt="">
    <div class="_blog-content">
        <h3>
            <b>
                Soccer
            </b> 
        </h3>
        <h5>For me footbal is a passion. You can check the below post regarding 2 best soccer players according to me:</h5><br>
        <h4>
            <b>
                1. Cristiano Ronaldo
            </b>
        </h4><br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img width="420" height="300" src="../../assets/Images/SingleBlogImages/ChristianoRonaldo.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h5 style="line-height: 60px;">
                    Born and raised in Madeira, Ronaldo began his senior club career playing for Sporting CP,
                    before signing with Manchester United in 2003, aged 18. After winning the FA Cup in his first season, 
                    he helped United win three successive Premier League titles, the UEFA Champions
                    League, and the FIFA Club World Cup.
                </h5>
            </div>
        </div><br>
        <h4>
            <b>
                2. Lionel Messi
            </b>
        </h4><br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <img width="420" height="300" src="../../assets/Images/SingleBlogImages/LionelMessi.jpg" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <h5 style="line-height: 60px;">
                    Born and raised in central Argentina, Messi relocated to Spain to join Barcelona at
                    age 13, for whom he made his competitive 
                    debut aged 17 in October 2004. He established himself
                    as an integral player for the club within the next three years, and in his
                    first uninterrupted season in 2008–09 he helped Barcelona 
                    achieve the first treble in Spanish football.
                </h5>
            </div>
        </div>
    </div>
</div>
